<header class="navbar">
  <div class="navbar-inner">

    <button class="icon-btn" (click)="toggleSidenav.emit()">
      <span class="material-symbols-outlined">menu</span>
    </button>

    <a class="brand" href="#">LUMINA</a>

    <div class="nav-actions">
      <button class="icon-btn">
        <span class="material-symbols-outlined">person</span>
      </button>
      <button class="icon-btn">
        <span class="material-symbols-outlined">shopping_bag</span>
      </button>
    </div>

  </div>
</header>
